.App {
   text-align: center;
}

.App-logo {
   animation: App-logo-spin infinite 20s linear;
   height: 40vmin;
   pointer-events: none;
}

.App-header {
   background-color: #282c34;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: calc(10px + 2vmin);
   color: white;
}

.App-link {
   color: #61dafb;
}

@keyframes App-logo-spin {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}

.card-flipper {
   transition: transform 0.8s;
   transform-style: preserve-3d;
   transform: rotateY(180deg);
}

.card-reverse-flipper {
   transition: transform 0.8s;
   transform-style: preserve-3d;
   transform: rotateY(0deg);
}

#appNav .fa {
   margin-right: 8px;
}

.navbar-brand {
   font-size: 2rem !important;
}

#page-title {
   border: 1px solid black;
}

#movieInfoDisplay li strong {
   font-size: 105%;
}
